body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  }
.div{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}

.whytext{
  display: inline-block ;
  white-space: normal;
  
  text-align: center;
  color:#1D262D;
  font-family: verdana;
  font-size: 80%;
  font-weight: bolder;
  vertical-align: middle

 

}

.whyI{
  margin-left: -200px;
  vertical-align: middle
  
}
.whyC{
  white-space: nowrap;
}
.sidebar{
  position: fixed;
margin-top: -10px;
margin-left: -10px;
margin-bottom: -10px;
  width: 400px;  
  height: 800px;
  
  background-color: #1D262D;
  background-size: cover;
  
  
}



.tema{
   position: fixed;
color:white;
font-family: verdana;
font-size: 150%;
font-weight: bolder;
margin-top: 10px;
margin-left: 105px;

   
  
}

.t{
    position: fixed;
    margin-top: 0px;
    background-color:#009BF4 ;
    width: 400px; 
    height: 50px;
}


.hello{
 text-align: center;
  color:#646669;
  font-family: verdana;
  font-size: 150%;
  font-weight: bolder;
  margin-left: -150px;
}

.me{
  
  align-items: center;

  width: 600px; 
  height: 200px;
  margin-left: 650px;
 
}


.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
 
}

.texto{
  text-align: center;
  color:#008CBA;
  font-family: verdana;
  font-size: 150%;
  font-weight: bolder;

  margin-left: -160px; 
}

.textowhy{
  color: #92E3A9;
  font-size: 200%;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  margin-left: -100px; 
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button3:hover {
  background-color: #008CBA;
  color: white;
}

.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button4:hover {
  background-color: #008CBA;
  color: white;
}

.button5 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button5:hover {
  background-color: #008CBA;
  color: white;
}

.button6 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  margin-left: -90px;
}

.button6:hover {
  background-color: #008CBA;
  color: white;
}

.button7 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button7:hover {
  background-color: #008CBA;
  color: white;
}

